/* Configuración General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0f172a; /* Azul muy oscuro */
    color: #f8fafc;
    line-height: 1.6;
}

/* Navegación */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    background: rgba(15, 23, 42, 0.9);
    position: sticky;
    top: 0;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: #38bdf8; /* Celeste neón */
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #38bdf8;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(rgba(15,23,42,0.7), rgba(15,23,42,0.7)), 
                url('https://images.unsplash.com/photo-1550745165-9bc0b252726f?auto=format&fit=crop&q=80&w=1000');
    background-size: cover;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.btn-main {
    background-color: #38bdf8;
    color: #0f172a;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.2s;
}

.btn-main:hover {
    transform: scale(1.05);
}

/* Cards de Tutoriales */
.grid-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 50px 5%;
}

.card {
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
    border-bottom: 4px solid #38bdf8;
    transition: translateY 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

footer {
    text-align: center;
    padding: 40px;
    background: #020617;
}
